<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1">
    <title>Vue.js 搜索页面</title>
    <script th:src="@{/js/vue/2.6.11/vue.js}"></script>
    <script th:src="@{/js/axios/0.19.2/axios.min.js}"></script>
    <script th:src="@{/js/vue-router/vue-router.js}"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/website.css}"/>
</head>

<body>
<form id="main" v-cloak>
    <p>{{username}}</p>
    <ul>
        <!-- 循环输出数据 -->
        <li v-for="product in products">
            <p >{{product.pname}} {{product.pprice}}</p>
        </li>
    </ul>
</form>
<button v-on:click="test">点我4 </button>
<script>

    var demo = new Vue({
        router:{},
        el: '#main',
        data: {
            username:"",
            products:[]
        },
        computed: {


        },
        mounted: function() {
            this.fetchData();
        },
        methods: {
            fetchData: function() {
                var that = this;

                axios.get("/getUser")
                    .then(function(response){
                        that.username = response.data;
                    })
                    .catch(function(error){
                        console.log(error);
                    })
                axios.get("/getAllProduct")
                    .then(function(response){
                        that.products = response.data;
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            },

            test:function () {

                this.$axios.post("/getProduct",{
                    pid:1
                })

                    .then(function(response){

                        console.info(response.data);

                    })

                    .catch(function(error){

                        console.info(error);

                    });


            }


        }
    });



</script>
</body>
</html>